<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/site.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			 <div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="javascript:;">REG.RU for Developers</a>
				</div>
			 </div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="javascript:;">Home</a></li>
				</ul>
			</div>
		</div>
		<div class="regru">
			<div class="container">
				{{ content }}
			</div>
		</div>
		<script src="bower_components/jquery/jquery.min.js"></script>
		{{ page.scripts }}
	</body>
</html>


